[submodule ".registry"]
	path = .registry
	url = https://github.com/inventionate/inventionate.r-universe.dev
	branch = HEAD
[submodule "TimeSpaceAnalysis"]
	path = TimeSpaceAnalysis
	url = https://github.com/inventionate/TimeSpaceAnalysis
[submodule "glitter"]
	path = glitter
	url = https://github.com/lvaudor/glitter
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	registered = false
