[submodule ".registry"]
	path = .registry
	url = https://github.com/inventionate/inventionate.r-universe.dev
	branch = HEAD
[submodule "TimeSpaceAnalysis"]
	path = TimeSpaceAnalysis
	url = https://github.com/inventionate/TimeSpaceAnalysis
